.login-div {
  background-color: black;
  width: 3vh;
  height: auto;
  margin-right: 10px;
}

.login-logo-div {
  display: flex;
  justify-content: flex-start;
}

.login-logo {
  width: auto;
  height: 3rem;
}

.login-matricula-div {
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}