.morado {
   background-color: #6034FD;
}

.azulMaya {
   background-color: #B9E5F7;
}

.fontAzulMaya {
   color: #B9E5F7;
}

.fontAzulMayaOscuro {
   color: #489abb;
}

.blanco {
   color: #FFFFFF;
}

.obscuro {
   color: #000000;
}

.fontMontserrat {
   font-family: 'Montserrat', sans-serif;
}

.fontPoppins {
   font-family: 'Poppins', sans-serif;
}

.cursor-pointer {
   cursor: pointer;
}

.text-justify {
   text-align: justify;
}